body
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    margin: 0
    padding: 0
    height: 100vh
    width: 100%

    background-color: $primaryColor-n


    *
        font-family: 'Tajawal', sans-serif;
        box-sizing: border-box