.Container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100%
    width: 100%

    .toolPicker
        z-index: 1
        position: absolute
        left: 0
        top: 0
        background-color: $accentColor-n
        box-shadow: 5px 5px 5px rgba($primaryColor-d,0.5)
        height: 100%
        width: 30%
        transition: transform 1s
        border-right: 1px solid rgba($primaryColor-l,0.5)
        overflow-y: scroll

        div
            position: relative
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            width: 100%
            height: 25vh
            transition: all 0.5s

            &:after
                content: ""
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%

            &:hover
                filter: brightness(130%)
                cursor: pointer

                p
                    transform: scale(1.2)
                i
                    transform: scale(1.2) rotateY(360deg)

            i
                color: $primaryColor-d
                font-size: 25px
                transition: all 0.5s
            
            p
                transition: all 0.5s
                padding: 0
                margin: 0
                
        hr
            margin: 0
            opacity: 0.5

    .menuToggle
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        z-index: 1
        position: absolute
        top: 0%
        width: 50px
        height: 50px
        padding: 10px
        background-color: $accentColor-n
        border: 1px solid rgba($primaryColor-l,0.8)
        border-radius: 10px
        box-shadow: 5px 5px 5px rgba($primaryColor-d,0.5)
        transition: all 1s

        i
            font-size: 25px
            color: $primaryColor-n
            transition: transform 0.5s

    .appContent
        position: relative
        height: 91%
        width: 91%
        border: 1px solid $primaryColor-d

        .uploadPic
            background-color: rgba($light-blue,0.8)
            height: 100%
            width: 100%

            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            
            i
                color: $primaryColor-d
                font-size: 35px
                transition: all 0.5s
                margin: 15px
            
            p
                transition: all 0.5s
                padding: 0
                margin: 0
                font-size: 18px
                cursor: default
            
            #uploadFile
                display: none

            #label-uploadFile
                cursor: pointer
                padding: 0
                margin: 0
                border: 2px dashed rgba($primaryColor-n, 0.3)
                transition: border 0.5s

                &:hover
                    border: 2px dashed rgba($accentColor-d, 0.8)
                    i
                        color: $accentColor-l

        .resizePic
            position: relative
            background-color: rgba($teal,0.8)
            height: 100%
            width: 100%

            display: grid
            grid-template-columns: 1fr 1fr

            .resizeOpt
                height: 100%
                display: flex
                flex-direction: row
                justify-content: center
                align-items: center
                i
                    color: $primaryColor-d
                    font-size: 25px
                    transition: all 0.5s
                
                p
                    transition: all 0.5s
                    padding: 0
                    margin: 0

            .resizeLiveView
                height: 100%
                display: flex
                flex-direction: row
                justify-content: center
                align-items: center
                padding: 5%
                .canvasShowPic
                    max-height: 100%
                    max-width: 100%
            
        .filterPic
            background-color: rgba($light-green,0.8)
            height: 100%
            width: 100%

            display: flex
            flex-direction: columns
            justify-content: center
            align-items: center
            
            i
                color: $primaryColor-d
                font-size: 25px
                transition: all 0.5s
            
            p
                transition: all 0.5s
                padding: 0
                margin: 0
            
        .changeAfterDotPic
            background-color: rgba($yellow,0.8)
            height: 100%
            width: 100%

            display: flex
            flex-direction: columns
            justify-content: center
            align-items: center
            
            i
                color: $primaryColor-d
                font-size: 25px
                transition: all 0.5s
            
            p
                transition: all 0.5s
                padding: 0
                margin: 0
            
        .downloadPic
            position: relative
            background-color: rgba($orange,0.8)
            height: 100%
            width: 100%

            display: flex
            flex-direction: columns
            justify-content: center
            align-items: center
            
            i
                color: $primaryColor-d
                font-size: 25px
                transition: all 0.5s
            
            p
                transition: all 0.5s
                padding: 0
                margin: 0