@media screen and (max-width: 500px) {
    .container{
        .toolPicker{
            width: 100% !important;
            min-width: 100%;
        }
    .menuTogglerOn{
        display: none !important;
        }
    }
  }